/*************************************************
 ** CSS For Mobile
 *************************************************
 */

 /* Start Table */
 table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table tr {
    border: 1px solid #ddd;
    padding: 5px;
		background: #fff;

  }

  table th, table td {
    padding: 10px;
    text-align: center;

  }

  table th {
    text-transform: uppercase;
    letter-spacing: 1px;
  }


  @media screen and (max-width: 479px) {

   .card table {
      border: 0;
    }

   .card table thead {
      display: none;
    }

   .card table thead tr {
      display: none;
    }

   .card table tr {
      margin-bottom: 20px;
      display: block;
      border-bottom: 2px solid #ddd;
	 box-shadow: 2px 2px 1px #dadada;

    }

   .card table td {
      display: block;
      text-align: right;
      font-size: 13px;
    }

   .card table td:last-child {
      border-bottom: 0;
    }

   .card table td::before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
    	.card	tbody{
			line-height:0!important;
		}

  }
 /* End Table */
